body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #3a7bd5;
    font-size: 48px; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    font-family: 'Arial Black', sans-serif; 
}


#timer {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.tempo {
    background-color: #3a7bd5;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 48px;
    text-align: center;
    transition: background-color 0.5s ease;
    margin: 0 10px; 
    margin-left: 100px;
    margin-right: 10px;
}

.tempo:hover {
    background-color: #235592;
}

.unidade {
    font-size: 18px;
}

.imagem {
    margin-top: 0;
    margin-bottom: 0;
}

.imagem img {
    width: 100%;
    height: auto;
}

.textos {
    background-color: rgb(2, 67, 141);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 0px;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}


#tempoDecorrido {
    color: #3a7bd5;
    font-size: 48px; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    font-family: 'Arial Black', sans-serif; 
    
}


#scrollToBottomButton {
    border-radius: 50%; 
    background-color: #3a7bd5; 
    color: white; 
    border: none; 
    width: 50px; 
    height: 50px; 
    font-size: 24px; 
    cursor: pointer; 
}

#scrollToBottomButton:hover {
    background-color: #235592;
}

#scrollToTop {
    border-radius: 50%; 
    background-color: #3a7bd5; 
    color: white; 
    border: none; 
    width: 50px; 
    height: 50px; 
    font-size: 24px; 
    cursor: pointer; 
    margin-bottom: 200px;
}

#scrollToTop:hover {
    background-color: #235592; 
}

@media (max-width: 1200px), (max-height: 1200px) {
    .tempo {
        font-size: 32px; 
        padding: 15px; 
    }

    .unidade {
        font-size: 16px; 
    }

    #scrollToBottomButton {
        font-size: 32px; 
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        background-color: #3a7bd5; 
        color: white; 
        border: none; 
        cursor: pointer; 
    }
}

@media (max-width: 1000px), (max-height: 700px) {
    #scrollToBottomButton {
      margin-bottom: 1px;
    }

    #tempoDecorrido {
        margin-bottom: 10px;
    }

    #scrollToBottomButton,
    #scrollToTop {
        display: none;
    }

    .tempo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 0 30px;


    }

    
}



